.select2-container--default .select2-selection--multiple, 
.select2-container--default .select2-selection--single {
    border-color: #5079de;
    border-radius: 0px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, 
.select2-container--default .select2-selection--single {
    border: solid #5079de 1px;
    border-radius: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black;
}

.select2-container .select2-selection--single {
	height: 34px;
}

.select2-search__field {
    color: #5079de;
}