/*
 * Skin: Blue
 * ----------
 */
@font-face {
  font-family: Franklin;
  src: url('/fonts/FRABK.eot');
  src: url('/fonts/FRABK.eot') format('embedded-opentype'),
  url('/fonts/FRABK.woff2') format('woff2'),
  url('/fonts/FRABK.woff') format('woff'),
  url('/fonts/FRABK.ttf') format('truetype'),
  url('/fonts/FRABK.svg#FRABK') format('svg');
}


@font-face {
  font-family: Franklin;
  src: url('/fonts/FRADM.eot');
  src: url('/fonts/FRADM.eot') format('embedded-opentype'),
  url('/fonts/FRADM.woff2') format('woff2'),
  url('/fonts/FRADM.woff') format('woff'),
  url('/fonts/FRADM.ttf') format('truetype'),
  url('/fonts/FRADM.svg#FRADM') format('svg');
  font-weight: bold;
}

html, body{
  font-family: 'Franklin';
}

body{
  /*font-size: 1.7em;*/
  -ms-overflow-style: scrollbar;
}

.main-sidebar, .left-side {
  transition: none !important;
}
.content-wrapper, .right-side, .main-footer {
  transition: none !important;
}

.nav-tabs-custom{
  border: 2px solid #7b9ae6;
}

.skin-blue .main-header .navbar {
  background-color: #5a75e5;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.main-header .sidebar-toggle {
  padding: 19px 19px;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-blue .main-header .logo {
  background-color: #5a75e5;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  /*background-color: #357ca5;*/
}
.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #254c8d;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #193461;
  font-size: 1em;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #254c8d;
  border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-blue .sidebar a {
  color: white;
  text-decoration: underline;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.underline{
  width: 95%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fad9c0;
}

.v-lined{
  width: 2px;
  height: 60px;
  margin-top: 15px;
  background-color: #95aeeb;
}

.rs-info-box {
  display: block;
  background: #5079de;
  width: 100%;
  height: 90px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  color: white;
}

.rs-info-wrap{
  display: table;
  float: left;
  height: 90px;
  width: 70%;
}

.rs-info-box-left{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.3em;
}

.rs-info-box-right{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  line-height: 90px;
}

.icon-rs{
  background-position: center center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.icon-rs-main{
  background-image: url('/img/icons/logo.png');
}

.icon-rs-star{
  background-image: url('/img/icons/star.png');
}

.icon-rs-people{
  background-image: url('/img/icons/people.png');
}

.icon-rs-search{
  background-image: url('/img/icons/search.png');
}

.icon-rs-system{
  background-image: url('/img/icons/system.png');
}

.main-header .navbar{
  min-height: 60px;
  margin-left: 170px;
}

@media (max-width: 767px) {
  .main-header .navbar {
    margin: 0;
  }
}

.content-wrapper{
  background-color: white;
}

.profile_head_item{
  display: table;
  height: 70px;
  width: 400px;
}

.profile_head_item div{
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  color: white;
}

.profile_head_item div span{
  text-decoration: underline;
}

.profile_head_item div a:link, .profile_head_item div a:visited{
  color: white;
}

.profile_head_item div span {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.3em;
}

.main-header .logo{
  width: 180px;
  height: 70px;
  line-height: 60px;
  padding: 0px 18px;
}

.logo-lg img{
  height: 60px;
  margin-top: 5px;
}

.logo:hover, .logo:active, .logo:focus{
  background-color: white;
}

a.hidden-xs:focus{
  background-color: #5a75e5;
  color: #5a75e5;
}

.main-sidebar{
  padding-top: 70px;
}

.sidebar-menu li a span{
  font-size: 1.3em;
}

.wrapper{
  max-width: 1280px;
  margin: 0 auto;
}

.circle{
  border-radius: 50%;
}

.h-menu-wrapper{
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #f29e60;
}

.h-menu-wrapper ul { margin: 20px 10px; }
.h-menu-wrapper ul li { float: left; list-style-type: none; }
.h-menu-wrapper a {
  color: #6186e1;
  font-size: 1.4em;
  padding: 0px 20px;
  text-decoration: underline;
}

.h-menu-wrapper a:not(:last-child) {
    border-right: 1px solid;
}

.h-menu-wrapper a.active {
  font-size: 1.6em;
  font-weight: 700;
  text-decoration: none;
}

/*.h-menu-wrapper ul li a:hover { background: #0069d4; }*/

.lya_big_text{
  color: #6186e1;
  font-size: 1.4em;

}

.lya_big_img{
  width: 100%;
}

.profile_wrapper{
  width: 90%;
  margin: 0 auto;
}

.v_line_1stlvl{
  width: 100%;
  height: 2px;
  background-color: #bcc8dc;
  margin: 10px 0;
  clear: both;
}

.skill-label{
  float: left;
  height: 37px;
  line-height: 37px;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 10px;
  padding: 0 15px;
}

.skill-label a{
  color: white;
}

.fstlvl{
  background-color: #254c8d;
}

.sndlvl{
  background-color: #324ed9;
}

.trdlvl{
  background-color: #5d74e7;
}

.yellow{
  color: #e79b6c;
}

.lya_yourlevel{
  width: 100%;
  height: 120px;
  /*line-height: 3em;*/
  background-color: #e79b6c;
  color: white;
  font-size: 5em;
  font-weight: bold;
}

.fs2em{
  font-size: 1.3em;
}

.skill-desc{
  text-align: justify;
  border-left: 1px solid #8095eb;
  padding-left: 15px;
  color: #6186e1;
}

.take_test{
    background-color: #e79b6c;
    margin: 0 auto;
    color: white;
    padding: 10px 40px;
}

.want_study{
  background-color: #5378e0;
  /*margin: 0 auto;*/
  color: white;
  /*padding: 10px 40px;*/
}

.skill_underline{
  border-bottom: 1px solid #6186e1;
}

.man_info_left{
  float: left;
  width: 30%;
}

.man_info_right{
  display: table;
  width: 70%;
  height: 100px;
  float: left;
}

.v_center{
  display: table-cell;
  vertical-align: middle;
}

.lya_blue{
  color: #6186e1;
}

.lya_big_ul_blue{
    color: #6186e1;
    font-size: 2.6em;
    text-decoration: underline;
}

.lya_left_border{
  border-left: 1px solid #8095eb;
}

.ask_man {
  width: 100%;
  background-color: #5378e0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0px;
}

.ask_man a {
  color: white;
}

.ask_lvlup, .ask_lvlup a{
  width: 100%;
  background-color: #e79b6c;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*city select2 placeholder color*/
.select2-search__field{
  color: black !important;
}

.star-table{
  display: table;
  width: 100%;
}

.star-cell-left{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 92%;
}

.star-cell-right{
  display: table-cell;
  vertical-align: top;
  text-align: center;
  width: 8%;
}

.news_left{
    float: left;
    width: 15%;
}

.news_right{
    width: 85%;
    float: left;
    font-size: 1.2em;
}

.lya_h_line{
    width: 100%;
    height: 2px;
    background-color: #6186e1;
}

.news_db{
    color: white;
    font-size: 1.3em;
    padding: 3px;
    background-color: #6186e1;
}

.news_db_SKILL{
    background-color: #6186e1;
}

.news_db_NEWS{
    background-color: #f38c3b;
}

