.circle__position {
	color: #6186e1;
	font-size: 18px;
	border-bottom: 1px dashed #6186e1;
	&.active, &:hover {
		color: #6186e1;
		border-bottom: none;
		font-weight: 700;
	}
	&:active, &:focus {
		color: #6186e1;
	}
}