.sidebar__footer {
	position: fixed;
	bottom: 15px;
	margin-left: 5px;
	> .sidebar__footer__maillink {
		color: #ffffff;
		text-decoration: none;
		&:hover, :active, :focus, :visited {
			color: #ffffff;
			text-decoration: none;
		}
		> .sidebar__footer__maillink__icon {
			display: table-cell;
			border-radius: 50%;
			background: #5a75e5;
			padding: 8px;
			font-size: 20px;
			color: #fff;
		}
		> .sidebar__footer__maillink__text {
			display: table-cell;
			vertical-align: middle;
			font-size: 18px;
			padding-left: 5px;
			color: #fff;
		}
	}
	&:hover {
		> .sidebar__footer__maillink {
			color: #ffffff;
			text-decoration: none;
			&:hover, :active, :focus, :visited {
				color: #ffffff;
				text-decoration: none;
			}
			> .sidebar__footer__maillink__icon {
				border-radius: 50%;
				background: #ffffff;
				padding: 8px;
				font-size: 20px;
				color: #5a75e5;
			}
			> .sidebar__footer__maillink__text {
				color: #fff;
			}
		}
	}
}

.sidebar-mini.sidebar-collapse .sidebar__footer .sidebar__footer__maillink__text {
	display: none !important;
}
